.overlay-text {
    position:absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2em;
    }
    .containerx {
    position: relative;
    text-align: center;
    color: white; 
}